In [ ]:
import os
import io

from google.oauth2 import service_account
from google.cloud import storage
from dotenv import load_dotenv
import pandas as pd

In [12]:
load_dotenv(override = True)

service_account_key = os.getenv("GCP_SERVICE_ACCOUNT_KEY")
project_id = os.getenv("GCP_PROJECT_ID")
bucket_name = os.getenv("GCP_BUCKET_NAME")
file_name = os.getenv('FILE_NAME')

credentials = service_account.Credentials.from_service_account_file(service_account_key)
# Create a client  to bundle configuration needed for API requests.
client = storage.Client(project=project_id,
                        credentials=credentials)
# Access a bucket 
bucket = client.bucket(bucket_name)
# Access an object (blob) in a bucket
file = bucket.blob(file_name)
# Download
data = file.download_as_bytes()

df = pd.read_csv(io.BytesIO(data))
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,AI,Anguilla,AMR,NaN,0,NaN,0
1,2020-01-04,AZ,Azerbaijan,EUR,NaN,0,NaN,0
2,2020-01-04,BD,Bangladesh,SEAR,0.0,0,0.0,0
3,2020-01-04,BB,Barbados,AMR,NaN,0,NaN,0
4,2020-01-04,BR,Brazil,AMR,NaN,0,NaN,0

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,AI,Anguilla,AMR,NaN,0,NaN,0
1,2020-01-04,AZ,Azerbaijan,EUR,NaN,0,NaN,0
2,2020-01-04,BD,Bangladesh,SEAR,0.0,0,0.0,0
3,2020-01-04,BB,Barbados,AMR,NaN,0,NaN,0
4,2020-01-04,BR,Brazil,AMR,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...
494395,2025-08-24,LK,Sri Lanka,SEAR,NaN,672812,NaN,16907
494396,2025-08-24,SY,Syrian Arab Republic,EMR,NaN,57423,NaN,3163
494397,2025-08-24,VC,Saint Vincent and the Grenadines,AMR,NaN,9674,NaN,124
494398,2025-08-24,SN,Senegal,AFR,NaN,89407,NaN,1972
494399,2025-08-24,RW,Rwanda,AFR,NaN,133273,NaN,1468